body{
    background-color: powderblue;
    cursor:default;
}

h1{
    color: #b0e0e6;
    text-align: center;
    font-size: 32px;
    margin: auto;
}

.header {
    margin: auto;
    background-color:cadetblue;
}

.todoBlock{
    color:darkslategrey;
    font-size: 32px;
    padding: 1px;
    background: cadetblue;
    width: 360px;
    margin: 20px auto;
    text-align: center;
    border-radius: 16px;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.4);
}

.inputDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: powderblue;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
}

input{
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    padding: 12px;
    font-size: 16px;
    color: black;
}

button{
    background: #457474;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor:pointer;
    transition: 0.3s;
}

button:hover{
    background:darkslategrey;
}

ul {
    margin-top: 20px;
    list-style: none;
    max-height: 920px;
    max-width: 1200px;
    overflow-y: auto;
    margin:auto;
    padding: 0px 10px;
}

li {
    background: cadetblue;
    color: rgb(255, 255, 255);
    font-size: 26px;
    text-shadow: 1px 1px #000000;
    margin-bottom: 10px;
    padding-left: 6px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.4);
    transition: 0.3s;
    animation:fadeIn 0.4s ease-in-out;
}

ul li:nth-child(odd) {
  background: rgb(118, 189, 190)
}

span {
    color: red;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
    background: #457474;
    padding: 16px 24px;
    border-radius: 10px;
}

/*
** nth-chil(odd) fungerar, men inte even?

ul span:nth-child(even) {
  background: red;
}
*/

span:hover{
    background: darkslategray;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
